:root {
    --main-color: navy;
    --accent-color: gold;
    --success-color: lightgreen;
    --info-color: lightskyblue;
    --warning-color: lightyellow;
    --error-color: lightpink;
    --success-color-border: #116e11;
    --info-color-border: #054d7a;
    --warning-color-border: #808000;
    --error-color-border: #800013;
    --light-theme-text-color: #000;
    --light-theme-background-color: #fff;
    --dark-theme-text-color: #fff;
    --dark-theme-background-color: rgb(69, 69, 75);
    --text-color: #000;
    --background-color: #fff;
    --heading-font-family: sans-serif;
    --paragraph-font-family: sans-serif;
    --heading-font-size: 2em;
    --subheading-font-size: 1.5em;
    --paragraph-font-size: 1em;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--paragraph-font-family);
    font-size: var(--paragraph-font-size);
}

#top-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
}

#top-navbar-logo {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

#top-navbar-logo img {
    height: 50px;
    margin-right: 20px;
}

#top-navbar-logo a {
    text-decoration: none;
}

#top-navbar-logo p {
    font-family: var(--heading-font-family);
    font-size: var(--subheading-font-size);
    font-weight: bold;
    background-color: var(--main-color);
    color: var(--accent-color);
}

#top-navbar-links {
    display: flex;
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: stretch;
}

#top-navbar-links > li {
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--main-color);
    color: var(--accent-color);
    font-family: var(--heading-font-family);
    font-size: var(--paragraph-font-size);
    font-weight: bold;
}

#top-navbar-links > li:hover {
    filter: brightness(1.3);
    cursor: pointer;
}

#top-navbar-links a, #top-navbar-links span {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent-color);
    text-decoration: none;
}

#main-content {
    margin-top: 150px;
}

.login-register-form form {
    width: 100%;
}

.login-register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-width: 1px;
    font-family: var(--paragraph-font-family);
    font-size: var(--paragraph-font-size);
}

.login-register-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-width: 1px;
    font-family: var(--paragraph-font-family);
    font-size: var(--paragraph-font-size);
    font-weight: bold;
    background-color: var(--main-color);
    color: var(--accent-color);
}

.login-register-form button:hover {
    filter: brightness(1.3);
    cursor: pointer;
}

.block {
    display: block;
    max-width: 992px;
    margin: auto;
}

.flash-message {
    padding: 10px;
    margin-bottom: 15px;
    border-left-style: solid;
    border-left-width: 8px;
    border-left-color: var(--success-color-border);
    border-radius: 5px;
    background-color: var(--success-color);
    font-family: var(--paragraph-font-family);
    font-size: var(--subheading-font-size);
}
