# Python compiled bytecode output
__pycache__/
*.pyc

# Evironment variables
backend/.env

# Virtual environment
venv/

# Folder for user avatars
frontend/static/images/avatars

# IDE configurations
.vscode/
