<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<form action="/user" method="post">
    <label for="email">Email:</label>
    <br>
    <input type="text" id="email" name="email">
    <br>
    <label for="password">Password:</label>
    <br>
    <input type="password" id="password" name="password">
    <br>
    <input type="submit" value="Sign In">
</form>

<p>
    Don't have an account. LOL! Sign up <a href="/register">here</a> loser!
</p>
</body>
</html>