{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.css">
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<form action="/user" method="post">
    <label for="fName">First Name:</label>
    <br>
    <input type="text" id="fName" name="fName">
    <br>
    <label for="lName">Last Name:</label>
    <br>
    <input type="text" id="lName" name="lName">
    <br>
    <label for="email">Email:</label>
    <br>
    <input type="text" id="email" name="email">
    <br>
    <label for="password">Password:</label>
    <br>
    <input type="password" id="password" name="password">
    <br>
    <input type="submit" value="Submit">
</form>

<p>
    Already have an account? No LOL! Sign in <a href="/login">here</a> winner!
</p>
<p>
    Go home over <a href="/home">here</a> king!
</p>

</body>
</html>
{% endblock %}