{% extends 'page_template.html' %}
{% set css_filename = 'courses.css' %}
{% block title %}Courses{% endblock title %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for cat, msg in messages %}
                <p class="block flash-message {{cat}}">{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% if courses is defined and courses|length > 0 %}
        <div id="courses" class="block">
            <h2>Courses</h2>
            <table id="courses-table">
                <tr>
                    <th>Course Code and Name</th>
                    <th>Semester</th>
                    <th>GPA</th>
                    <th>Credits</th>
                    <th></th>
                </tr>
                {% for course in courses %}
                    <tr>
                        <td><a class="link" href="/course/{{course._id}}"><b>{{course.code}}</b> {{course.name}}</a></td>
                        <td>{{ course.semester.displayName }}</td>
                        <td>{{ course.gradePoint }}</td>
                        <td>{{ course.credits }}</td>
                        <td>
                            <button class="icon-button" onclick="removeCourse(this, '{{ course._id }}' )">
                                <img src="static/svg/trash.svg">
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div id="add-course-button" class="block">
                <button class="icon-button" onclick="openAddCourseModal()">
                    <p>Add New Course</p>
                    <img src="static/svg/plus.svg">
                </button>
            </div>
        </div>
    {% else %}
        <div id="courses" class="block">
            <h2 class="block">No Courses Yet</h2>
            <div id="add-course-button" class="block left-side">
                <button onclick="openAddCourseModal()">
                    <p>Add Your First Course</p>
                    <img src="static/svg/plus.svg">
                </button>
            </div>
        </div>
    {% endif %}    
    <div id="course-add-modal">
        <div>
            <div>
                <span onclick="closeAddCourseModal()">&times;</span>
                <h2>Add New Course</h2>
            </div>
            <form action="/course" method="post">
                <input type="text" name="course code" placeholder="Course Code">
                <br>
                <input type="text" name="course name" placeholder="Course Name">
                <br>
                <input type="number" name="credits" placeholder="Credits">
                <br>
                <select id="semester-select-dropdown" name="semester id">
                    {% for semester in semesters %} 
                        <option value="{{semester._id}}"> {{semester.displayName}}</option>
                    {% endfor %}
                </select>
                <br>
                <button type="submit">Add Course</button>
            </form>
        </div>
    </div>
    <div>
        <form id="form-add-semester">
            <input type="text" name="display name" placeholder="Semester">
            <br>
            <input type="date" name="start date">
            <br>
            <input type="date" name="end date">
            <br>        
        </form>
        <button onclick="addSemester()">Add Semester</button>
    </div>
{% endblock content %}
