{% extends 'page_template.html' %}
{% set css_filename = 'courses.css' %}
{% block title %}Courses{% endblock title %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for cat, msg in messages %}
                <p class="block flash-message {{cat}}">{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% if courses is defined and courses|length > 0 %}
        <div id="courses" class="block">
            <h2>Courses</h2>
            <table id="courses-table">
                <tr>
                    <th>Course Code and Name</th>
                    <th>GPA</th>
                    <th>Credits</th>
                    <th></th>
                </tr>
                {% for course in courses %}
                    <tr>
                        <td><a class="link" href="/course/{{course._id}}"><b>{{course.code}}</b> {{course.name}}</a></td>
                        <td>{{ course.gradePoint }}</td>
                        <td>{{ course.credits }}</td>
                        <td>
                            <button class="icon-button" onclick="removeCourse(this, '{{ course._id }}' )">
                                <img src="static/svg/trash.svg">
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div id="add-course-button" class="block">
                <button class="icon-button" onclick="openAddCourseModal()">
                    <p>Add New Course</p>
                    <img src="static/svg/plus.svg">
                </button>
            </div>
        </div>
    {% else %}
        <div id="courses" class="block">
            <h2 class="block">No Courses Yet</h2>
            <div id="course-list" class="block">
                <div>
                    <p>Add Your First Course</p>
                    <button class="icon-button" onclick="openAddCourseModal()">
                        <img src="static/svg/plus.svg">
                    </button>
                </div>
            </div>
        </div>
    {% endif %}
    <div id="course-add-modal">
        <div>
            <div>
                <span onclick="closeAddCourseModal()">&times;</span>
                <h2>Add New Course</h2>
            </div>
            <form action="/course" method="post">
                <input type="text" id="course code" name="course code" placeholder="Course Code">
                <br>
                <input type="text" id="course name" name="course name" placeholder="Course Name">
                <br>
                <input type="number" id="credits" name="credits" placeholder="Credits">
                <br>
                <button type="submit">Add Course</button>
            </form>
        </div>
    </div>
{% endblock content %}
