{% extends 'page_template.html' %}
{% block title %}Login{% endblock title %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for cat, msg in messages %}
                <p class="block flash-message {{cat}}">{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% if courses is defined %}
        <div id="courses">
            <h2 class="block">Courses</h2>
            <div id="course-list" class="block">
                {% for course in courses %}
                    <div>
                        <p><b>{{course.code}}</b> {{course.name}}</p>
                        <button class="icon-button" onclick="removeCourse(this, '{{ course._id }}' )">
                            <img src="static/svg/trash.svg">
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <h2>Add New Course</h2>
    <button onclick="openAddCourseModal()">+</button>
    <div id="course-add-modal">
        <div>
            <div>
                <span onclick="closeAddCourseModal()">&times;</span>
                <h2>Add New Course</h2>
            </div>
            <form action="/course" method="post">
                <!-- <label for="course code">Course Code</label> -->
                <input type="text" id="course code" name="course code" placeholder="Course Code">
                <!-- <label for="course name">Course Name</label> -->
                <br>
                <input type="text" id="course name" name="course name" placeholder="Course Name">
                <br>
                <button type="submit">Add Course</button>
            </form>
        </div>
    </div>
{% endblock content %}
