{% extends 'page_template.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
    <div class="block center-text">
        <div id="welcome-page-message">
            <h1>Student Management System v2</h1>
            <p>Track your courses and calculate your GPA</p>
        </div>
        <div id="welcome-prompt" class="block">
            <div>
                <p>New Around Here?</p>
                <a class="link-button-1" href="/register">Sign Up Now</a>
            </div>
            <div>
                <p>Returning Users</p>
                <a class="link-button-1" href="/login">Sign In</a>
            </div>
        </div>
        <a class="link-button-2" href="#welcome-sections">Learn More</a>
        <div id="welcome-sections" class="block">
            <div>
                <div>
                    <h2>Get Organized</h2>
                    <p>Stay on top of your courses and evaluations.</p>
                </div>
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Image_not_available.png">
            </div>
            <div>
                <div>
                    <h2>Achieve Goals</h2>
                    <p>Set goals for your education and track your progress.</p>
                </div>
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Image_not_available.png">
            </div>
        </div>
        <div id="final-welcome-prompt" class="block">
            <h2>Get That A+</h2>
            <p>Keep yourself accountable with Student Management System v2.</p>
            <a class="link-button-1" href='/register'>Sign Up Now</a>
            <p>Or click here to <a class="link" href='/login'>log in</a>.</p>
        </div>
    </div>
{% endblock content %}
