<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/static/icons/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
        <title>{% block title %}{% endblock title %}</title>
    </head>
    <body onload="loadTheme()">
        <nav id="top-navbar">
            <div id="top-navbar-logo">
                <a href="/">
                    <img src="/static/images/logo.png">
                </a>
                <a href="/">
                    <p>Student Management System v2.0</p>
                </a>
            </div>
                <ul id="top-navbar-links">
                    {% if student is defined %}
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/course">Courses</a>
                        </li>
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="/login">Login</a>
                        </li>
                        <li>
                            <a href="/register">Register</a>
                        </li>
                    {% endif %}
                    <li onclick="toggleTheme()">
                        <span>
                            <img id="toggleThemeImg" height="25px">
                        </span>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="main-content">
            {% block content %}{% endblock content %}
        </div>
        <div id="footer">
            <div>
                <a href="/">Student Management System v2</a>
                <ul>
                    <li>
                        <a href="/">Terms of Use</a>
                    </li>
                    <li>
                        <a href="/">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="https://github.com/luk-ryan/StudentManagementSystemV2" target="_blank">View Source Code</a>
                    </li>
                </ul>
            </div>
            <p>&copy; {{ year }} Crongo Corp</p>
        </div>
        <script src="/static/js/handleTheme.js"></script>
        <script src="/static/js/course.js"></script>
    </body>
</html>
