<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="static/icons/favicon.ico">
        <link rel="stylesheet" type="text/css" href="static/css/styles.css">
        <title>{% block title %}{% endblock title %}</title>
    </head>
    <body onload="loadTheme()">
        <nav id="top-navbar">
            <div id="top-navbar-logo">
                <a href="/">
                    <img src="static/images/logo.png">
                </a>
                <a href="/">
                    <p>Student Management System v2.0</p>
                </a>
            </div>
                <ul id="top-navbar-links">
                    {% if student is defined %}
                        <li>
                            <a href="/login">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="/login">Login</a>
                        </li>
                        <li>
                            <a href="/register">Register</a>
                        </li>
                    {% endif %}
                    <li onclick="toggleTheme()">
                        <span>
                            <img id="toggleThemeImg" height="25px">
                        </span>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="main-content">
            {% block content %}{% endblock content %}
        </div>
        <script src="static/js/handleTheme.js"></script>
    </body>
</html>
