{% extends 'page_template.html' %}
{% set css_filename = 'register.css' %}
{% block title %}Register{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for cat, msg in messages %}
                <p class="block flash-message {{cat}}">{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="block login-register-form">
        <form id="register-form" action="#" method="post">
            <label for="school">What school are you attending?</label>
            <input type="text" name="school" value="{{ form['school'] if form and form['school'] else '' }}">
            <label for="program">What program are you in?</label>
            <input type="text" name="program" value="{{ form['program'] if form and form['program'] else '' }}">
            <label for="year">What year are you currently studying in?</label>
            <input type="number" name="year" value="{{ form['year'] if form and form['year'] else '' }}">
            <label for="creditsToGraduate">How many credits in total do you need to graduate?</label>
            <input type="number" name="creditsToGraduate" value="{{ form['creditsToGraduate'] if form and form['creditsToGraduate'] else '' }}">
            <label for="fName" hidden>First Name</label>
            <input type="text" name="fName" value="{{ form['fName'] if form and form['fName'] else '' }}" hidden>
            <label for="lName" hidden>Last Name</label>
            <input type="text" name="lName" value="{{ form['lName'] if form and form['lName'] else '' }}" hidden>
            <label for="email" hidden>Email</label>
            <input type="text" name="email" value="{{ form['email'] if form and form['email'] else '' }}" hidden>
            <label for="password" hidden>Password</label>
            <input type="password" name="password" value="{{ form['password'] if form and form['password'] else '' }}" hidden>
            <div>
                <button id="register-form-toggle-button" type="button">Next</button>
                <button id="register-form-submit-button" type="submit" hidden>Register</button>
            </div>
        </form>
    </div>
    <br>
    <p>
        Already have an account? No LOL! Sign in <a href="/login">here</a> winner!
    </p>
    <p>
        Go home over <a href="/home">here</a> king!
    </p>
    <script src="/static/js/registerForm.js"></script>
{% endblock content %}
