{% extends 'page_template.html' %}
{% block title %}Login{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <h2>{{msg}}</h2>
            {% endfor %}
        {% endif %}
    {% endwith %}

<div class="login-register-form">
    <form action="#" method="post">
        <label for="email">Email</label>
        <input type="text" id="email" name="email">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <button type="submit">Login</button>
    </form>
</div>
<br>
<p>
    Don't have an account. LOL! Register <a href="/register">here</a> loser!
</p>
<p>
    Go home over <a href="/home">here</a> king!
</p>
{% endblock %}