{% extends 'base.html' %}
{% block title %} Register {% endblock %}

{% block content %}
<form action="/user" method="post">
    <label for="fName">First Name:</label>
    <br>
    <input type="text" id="fName" name="fName">
    <br><br>
    <label for="lName">Last Name:</label>
    <br>
    <input type="text" id="lName" name="lName">
    <br><br>
    <label for="email">Email:</label>
    <br>
    <input type="text" id="email" name="email">
    <br><br>
    <label for="password">Password:</label>
    <br>
    <input type="password" id="password" name="password">
    <br><br>
    <input type="submit" value="Submit">
</form>
<br>
<p>
    Already have an account? No LOL! Sign in <a href="/login">here</a> winner!
</p>
<p>
    Go home over <a href="/home">here</a> king!
</p>
{% endblock %}